@media only screen and (max-width:992px)
{
   .row{
       flex-direction: column;
   }
   .column{
    justify-content:center;
    margin: 0 auto 20px auto;
   }
}
@media only screen and (max-width:800px){
    .heading_2{
        width:50% !important;
    }
}
@media only screen and (max-width:660px){
    .heading_2{
        width:70% !important;
    }
}
@media only screen and (max-width:600px){
    nav ul{
        flex-direction: column !important;
        width: 100% !important;
    }
    .header{
        flex-direction: column !important;
    }
    .header *{
        margin:10px 0 0 0  !important;
    }
    .sub_dropdown{
        width: 100%;
        display: none;
        justify-content: center;
    }
    .resources:hover .res_dropdown,.category:hover .cat{
        display:flex;
        z-index: 99;
    }
}
@media only screen and (max-width:457px){
    .heading_2{
        width:90% !important;
    }
}